._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.opensdf
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.obj
*.manifest
*.manifest.res
*.o
*.d
*.sdf
xcuserdata
*.xccheckout
contents.xcworkspacedata
.DS_Store
.svn
profile
[Dd]ebug/
[Dd]ebug64/
[Dd]ebug 64/
[Dd]ebugPublic/
[Rr]elease/
[Rr]elease64/
[Rr]elease 64/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
git.zip
/.project
